<!DOCTYPE html>
<html>
    <head>
        <title>BoinkDash</title>
        <script src="static/init.js"></script>
        <script defer src="/static/utils.js"></script>
        <script defer src="/static/main.js"></script>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <content>
            <h1>BOINK<i>DASH</i></h1>
            <div class="stats">
                <div id="counter">Counter: 0</div>
                <div id="high-score">High Score: 0</div>
            </div>
            <canvas id="myCanvas" width="400" height="400"></canvas>
        </content>
    </body>
</html>
